@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 100px;
  width: 80%;
  background: #DEB887;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #FFA600;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #D7402B;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 70px;
  width: 80px;
  background: #8B4513;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 60px;
  width: 80%;
  background: #4B3621;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #93934A;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 50%;
  background-color: #894452;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 50px;
  width: 70%;
  background: #DEB887;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.avocado {
  height: 50px;
  width: 70%;
  background: #90EE90;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.bacon {
  height: 30px;
  width: 90%;
  background: #D2691E;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: blue ;
  border-radius: 20px 20px 200px 200px;
}
